# Configurações de Conexão com o Banco de Dados (Docker)

# Banco de Desenvolvimento (Porta 5432)
DATABASE_URL=postgresql://postgres:postgres_password@localhost:5432/ecommerce_dev

# Banco de Testes Automatizados (Porta 5433)
DATABASE_URL_TEST=postgresql://postgres:postgres_password@localhost:5433/ecommerce_test